#org-logos {
    width: 400px;
    margin-left: 10px;
}

#uxsoc-logo {
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    margin: 10px;
}

#lscs-logo {
    position: absolute;
    right: 50px;
    top: 0;
    height: 50px;
    margin: 10px;
}

@media screen and (max-width: 500px){
    #org-logos {
        display: block; 
        position: relative; 
        width: 80%;
        margin: 10px auto 0px; 
    }
}