#header-container {
    width: 80%;
    height: 10%;
    min-height: 80px;
    background: #36A472;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
    top: 0;
    position: fixed;
    padding: 0px 10% 0px 10%;
}

#header-ballot {
    width: 40px;
    height: 40px;
}

.nav-item {
    margin-right: 40px; 
}

a {
    color: #C0C0C0;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: white;
}

#selected {
    color: white;
}

.user-container-content {
    width: 100px;
    height: 300px;
    display: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 590px;
    background: rgb(28, 30, 34);
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#user-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
    margin-right: 10px;

}

#user-container:hover .user-container-content {
    display: block;
    z-index: 10;

}

#log-out {
    color: #fff;
}

#log-out:hover {
    border-bottom: 1px solid white;
}

#user-icon {
    width: 30px;
    height: 30px;
}

#user-name {
    color: #fff;
    margin-left: 20px;
    font-weight: 600;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown-container {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown-container:hover .dropdown-content {
    display: block;
}