.candidates-row {
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 68px;
    border-bottom: 2px solid #D7D7D7;
}

.candidates-row:last-of-type {
    border: none;
}

.abstain-div{
    margin-top: 50px;
    margin-bottom: -35px;
}
.abstain {
    /* border: 0; */
    /* background: none;
    box-shadow: none; */
    border-radius: 5px;
    border-color: black;
    border-style: solid; 
    /* background-color: var(--theme-green); */
    background-color: white; 
    color: var(--theme-green);;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    vertical-align: middle;
}

.abstain:hover {
    filter: brightness(110%);
}

.abstain-active{
    border-color: var(--theme-green);
    text-decoration: underline;
}

.candidate-position {
    font-weight: 700;
    color: var(--theme-green);
    font-size: 1.4rem;
    text-align: center;
}

.candidate-category {
    font-weight: 900;
    color: var(--theme-green);
    font-size: 1.7rem;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.candidate {
    display: inline-block;
    float: left;
    width: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.candidate-name,
.candidate-party {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 0.7rem; 
}

.candidate-img {
    height: auto; 
    width: 120%; 
    background-size: cover;
    margin-top: 40px;
    margin-bottom: 15px;
    border-radius: 50%; 
}

.candidate-name {
    font-weight: 700;
    height: 50px; 
}

.candidate-party {
    font-style: italic;
    height: 90px; 
}

.candidate-response {
    color: var(--theme-green);
    font-size: 0.7rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.response-link {
    position: relative;
}

.response-link:after {
    background-color: var(--theme-green);
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    top: 17px;
    width: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.response-link:hover:after {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .candidate-name, 
    .candidate-party {
        font-size: 0.8rem; 
    }
    .candidate-position {
        text-align: left; 
    }
    .candidate-img {
        width: 100%; 
    }
}

@media only screen and (min-width: 1200px) {
    .candidate-name, 
    .candidate-party {
        font-size: 1.0rem; 
    }
    .candidates-row {
        width: calc(100% - 85px);
        margin: 40px;
    }
    .candidate {
        width: 70%; 
    }
    .candidate-img {
        width: 70%; 
    }
}