{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'sysadmin/css/components/admin-navbar.css' %}" />
<div id="header-container">
    <img id="header-ballot" src="{% static 'sysadmin/assets/svg/ballot-white.svg' %}">
    <a href="{% url 'sysadmin:elections' %}">Election Status</a>
    <a href="{% url 'sysadmin:voters' %}">Voters List</a>
    <a href="{% url 'sysadmin:candidates' %}">Candidates List</a>
    <a href="{% url 'sysadmin:officers' %}">Comelec Officers</a>
    <a href="{% url 'sysadmin:units' %}">Units</a>
    <a href="{% url 'sysadmin:positions' %}">Positions</a>
    <a href="{% url 'sysadmin:issues' %}">Issues</a>
    <a href="{% url 'sysadmin:polls' %}">Polls</a>
    <div id="user-container">
        <img id="user-icon" src="{% static 'sysadmin/assets/svg/user.svg' %}">
        <div id="user-name"> {{ user.first_name }} {{ user.last_name }}</div>
        <a id="log-out" href="{% url 'logout:logout' %}">Logout</a>
    </div>
</div>