{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'officer/css/components/officer-navbar.css' %}" />
<div id="header-container">
    <div class="nav-item">
        <img id="header-ballot" src="{% static 'officer/assets/svg/ballot-white.svg' %}">
    </div>
    <div class="nav-item">
        <a href="{% url 'officer:voters' %}">Voters List</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'officer:candidates' %}" id="selected">Candidates List</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'officer:elections' %}">Election Dashboard</a>
    </div>
    <div class="nav-item">
        <a href="{% url 'officer:passcode' %}">Passcode Generator</a>
    </div>
    <div id="user-container">
        <img id="user-icon" src="{% static 'officer/assets/svg/user.svg' %}">
        <div id="user-name"> {{ user.first_name }} {{ user.last_name }}</div>
        <a id="log-out" href="{% url 'logout:logout' %}">Logout</a>
    </div>
</div>