{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="height=device-height, initial-scale=1">
    <title>Officer | Passcode</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800" rel="stylesheet">

    <link href="{% static 'officer/css/elements/body.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'officer/css/elements/root.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'officer/css/elements/link.css' %}" rel="stylesheet" type="text/css"/>

    <!-- ACCESSED THE CSS IN SYSADMIN -->
    <link rel="stylesheet" type="text/css" href="{% static 'officer/css/components/officer.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'officer/css/components/officer-candidate.css' %}"/>
    <!-- <link rel="stylesheet" type="text/css" href="../../static/sysadmin/css/components/officer.css" />
    <link rel="stylesheet" type="text/css" href="../../static/sysadmin/css/components/officer-candidate.css" /> -->

    <link rel="stylesheet" href="{% static 'officer/css/components/password_generator.css' %}">
    <link rel="stylesheet" href="{% static 'officer/css/components/password_generator-logos.css' %}">
</head>
<body>
{% include 'officer/officer-navbar.html' %}

<div id="pass-container" class="center container">
    <form method="POST" action="">
        {% csrf_token %}
        <label id="pass-title" for="pass-gen">PASSCODE GENERATOR</label><br><br>
        <input type="text" name="id-number" id="pass-gen">
        <input type="submit" hidden="hidden">
    </form>

    <div id="result">
        {% if message == 'DNE' %}
            <b>Oops!</b> That voter does not exist.
        {% elif message == 'AI' %}
            <b>Oops!</b> That voter is currently voting.
        {% elif message == 'AV' %}
            <b>Oops!</b> That voter has already voted.
        {% elif message == 'IE' %}
            <b>Oops!</b> That voter isn't eligible for this election.
        {% elif message == 'IR' %}
            <b>Oops!</b> You've just made an invalid request.
        {% elif message != '' %}
            Your passcode: <b>{{ message }}</b>
        {% endif %}
    </div>
    {% include 'officer/footer-logo.html' with white=True%}
</div>

</body>
</html>